#nav_menu ul { 
    list-style-type: none;          
    position: relative; }           /* So the submenus can be positioned */
#nav_menu ul li { float: left; }    /* Display items horizontally */
#nav_menu ul li {
    text-align: center; 
    display: none;                  /* Don't display submenus until cover of li */
    position: absolute;
    top: 100%;                       /* Position submenu at bottom of
    width: 175px;
    padding: 1em 0;     /* padding above and below a elements */
    text-decoration: none;
    background-color: #663333;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; 
}
#nav_menu ul ul li { float: none; }       /* Display submenus vertically */
#nav_menu ul li:hover > ul {            /* Select ul child of li element */
display: block;  }          /* Display submenu on hover of li element */
#nav_menu > ul::after {
    content: "";          /* Add empty content to the end of the first ul */
    display: block;       /* Display that content as a block element */
    clear: both; }        /* Stop the floating of the li elements */

