
.active a:link {
    background-color:#CC9966;
}
#hamburger {
    display: none;
}

nav {
    top: 0px;   
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul li {
    position: relative; 

    font-weight: bold;
    color: #cdac97;
    float: right;
}
nav a {
    text-decoration: none;
    display: inline-block;
    border: 3px solid white;
    padding: 15px 15px 15px 15px;
    /* width: 150px; */
    /* margin: 2px; */
    color: #fff;
}

/*format all navigation <a> elements*/
nav a{
    background-color:#cdac97;
}
nav a:hover, nav a:focus {
    background-color: #333333;
    color: #333;
}
nav a:active{
    background-color: #CC9966;
}

/*position sub-menu or drop-down*/
nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:none;
}

.header .menu li a{
    text-align: center;
}
.header .menu li a.dropdown-link {
    position: relative;
}

.header .menu li a.dropdown-link:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    position: relative;
    left: 10px;
    top: 2px;
}

/*special hover to display the drop-down*/
nav>ul>li:hover>ul{
    display: block;
}


@media(min-width:768px){
    .header .menu li a{
        text-align: left;
    }
}



/* @media only screen and (max-width: 640px) {
	header {
		position: relative;
        height: 40px;
        display: block;
        background-color: #cdac97;
        width: 100%;        

	}
	#hamburger {
		display: inline-block;
        padding-left: 20px;
        width: 26px;
        float: right;
        font-size: 2em;
	}
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px 20px 20px 0px;
		top: 20px;
			}
	nav:hover ul {
		display: block;
	}
    	nav:hover #mobileHide {
		display: none;
	}
	nav li {
		text-align: center;
		padding: 0;
		margin: 0;
	}
    nav>ul li {
    text-align: center;
    font-weight: bold;
    color: #cdac97;
    float: right;
}
nav a {
    text-decoration: none;
    display: inline-block;
    border-top: none;
    border-bottom: none;
    padding: 15px 0px 15px 35px;
    width: 240px;
    margin-bottom: 2px;
}
nav .lastMobile {border-bottom: 3px solid white;}
    nav ul li ul {
        display:none;
    }
} */

